.headerr{
    background-color: #333;
    color: white;
    text-align: center;

}


.light {
    background-color: #f4f4f4 !important;
    color: #333;
}

.dark {
    background-color: #333 !important;
    color: white;
}

.square{
    width: 20px;
    height: 20px;
}

.chess-board {
    background-color: #333333;
    background-image: url("img/img.png");
}


#board {
    display: grid;
    grid-template-columns: repeat(8, 20px);
    grid-template-rows: repeat(8, 20px);
}

