.headerr{
    background-color: #333;
    color: white;
    text-align: center;
}

.light {
    background-color: bisque !important;
    color: #333;
}

.dark {
    background-color: forestgreen !important;
    color: white;
}

.square{
    width: 100%;
    height: 100%;
    max-width: 130px;
    max-height: 130px;

}

#board {
    display: grid;
    grid-template-columns: repeat(8, 45%);
    grid-template-rows: repeat(8, 45%);
    max-width: 130px;
    max-height: 130px;
}

.square img{
    height: 100%;
    width: 100%;
}
